body, canvas, div, h3 {
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    background: #000;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

div {
    flex: 50%;
    white-space: pre;
}

hr {
    width: 256px;
}
